@import "bourbon";
@import "susy";
@import _map.scss


// shorthand
$desktop: 12 (70px 30px) split
$pad: 6 (70px 30px) split

$w_desktop: 12 split
$w_pad: 6 split

$breakpoint_desktop: 891px
$breakpoint_pad: 0 890px


$susy: (debug: (image: hide))



.aboutus
	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container
		.section_main
			background: url(../img/pixel_04.png) #e4f3f5
			padding-bottom: 40px
			padding-top: 90px
			background-repeat: repeat-x
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			.illustration_main
				margin-bottom: 50px
				img
					width: 100%
			.arrow_down
				margin-bottom: 50px

			h3
				font-size: 15px
				margin-bottom: 10px
				color: #FFF
			h2
				font-size: 30px
				margin-bottom: 90px
				color: #FFF
			p
				font-size: 25px
				color: #17317c


	+susy-breakpoint($breakpoint_desktop, $w_desktop)
		+container
		.section_main
			// background-color: linear-gradient(to bottom, rgba(0,150,220,1) 0%, rgba(0,150,220,1) 54%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%) /* W3C */
			background: url(../img/pixel_04.png) #e4f3f5
			padding-bottom: 90px
			padding-top: 90px
			background-repeat: repeat-x
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			.illustration_main
				width: 650px
				margin-bottom: 50px
				img
					width: 100%
			.arrow_down
				margin-bottom: 50px

			h3
				font-size: 15px
				margin-bottom: 10px
				color: #FFF
			h2
				font-size: 30px
				margin-bottom: 90px
				color: #FFF
			p
				font-size: 25px
				color: #17317c



.who_are_we
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		width: 50%
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		text-align: center
		color: #b7b7b7
		margin-bottom: 50px


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		width: 50%
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		text-align: center
		color: #b7b7b7
		margin-bottom: 120px




.aboutus-wrapper
	background: #e4f3f5
	padding-bottom: 100px
	padding-top: 50px
.aboutus_article
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		padding: 0 20px

		.p-text

			text-align: center
			font-size: 25px
			color: #17317c
			margin-bottom: 50px

		.article_contain
			+span(6)
			p
				font-size: 16px
				color: #555
				line-height: 1.5
				margin-bottom: 20px

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 0 40px

		.p-text
			+span(8)
			+pre(2)
			font-size: 25px
			color: #17317c
			margin-bottom: 50px
		.article_contain
			+span(8)
			+pre(2)
			p
				font-size: 16px
				color: #555
				line-height: 1.5
				margin-bottom: 20px











.circle
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		.circle_c
			background: url('../img/circle.png') center
			background-repeat: no-repeat
			background-size: 100%
			margin-top: 100px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			text-align: center
			padding: 50px 0px
			h6
				display: block
				width: 300px
				font-size: 30px
				color: #69c5b2
				font-weight: 700
				line-height: 1.2
				margin-bottom: 20px
			p
				display: block
				width: 300px
				font-size: 16px
				color: #222
				line-height: 1.5
				margin-bottom: 20px

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		.circle_c
			height: 500px
			background: url('../img/circle.png') center
			background-repeat: no-repeat
			margin-top: 100px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			text-align: center
			padding: 100px
			h6
				display: block
				width: 300px
				font-size: 30px
				color: #69c5b2
				font-weight: 700
				line-height: 1.2
				margin-bottom: 20px
			p
				display: block
				width: 300px
				font-size: 16px
				color: #222
				line-height: 1.5
				margin-bottom: 20px


.aboutus-wrapper_white
	background: #FFF
	padding-bottom: 100px
	padding-top: 50px

.our_team
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		p
			font-size: 16px
			color: #222
			line-height: 1.5
			margin-bottom: 20px
		.our_team_article
			width: 80%
			text-align: center
			color: #222
			line-height: 1.5
			margin-bottom: 50px
		.our_team_cool
			width: 100%
			padding: 0 20px
			img
				width: 100%

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		p
			font-size: 16px
			color: #222
			line-height: 1.5
			margin-bottom: 20px
		.our_team_article
			width: 80%
			text-align: center
			color: #222
			line-height: 1.5
			margin-bottom: 50px
		.our_team_cool
			width: 80%
			padding: 0 40px
			img
				width: 100%


.anyquestion-wrapper
	padding: 90px 0
	background: linear-gradient(to right, rgba(76,173,186,1) 0%, rgba(85,128,207,1) 100%)

.anyquestion
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		padding: 0 20px
		.anyquestion_q
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			margin-bottom: 30px
			h4
				font-size: 31px
				color: #FFF
			h5
				font-size: 20px
				color: #FFF
			img
				margin-top: 20px
		.questionnaire
			.questionnaire_list
				margin-bottom: 20px
				.q-t
					font-size: 18px
					padding-left: 10px
					color: #FFF
					margin-bottom: 5px
				input[type="text"]
					width: 100%
					height: 40px
					color: #222
					background: rgba(255,255,255, .5)
					border: none
					outline: none
					padding-left: 15px

				textarea
					width: 100%
					height: 200px
					border: none
					outline: none
					background: rgba(255,255,255, .5)
					padding: 20px
					font-size: 14px
					color: #222
			.summit
				display: block
				width: 140px
				text-align: center
				color: #FFF
				background: #096faf
				padding: 8px 20px
				float: right


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 0 50px
		.anyquestion_q
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			margin-bottom: 30px
			h4
				font-size: 31px
				color: #FFF
			h5
				font-size: 20px
				color: #FFF
			img
				margin-top: 20px
		.questionnaire
			.questionnaire_list
				margin-bottom: 30px
				.q-t
					font-size: 18px
					padding-left: 10px
					color: #FFF
					margin-bottom: 5px
				input[type="text"]
					width: 100%
					height: 40px
					color: #222
					background: rgba(255,255,255, .5)
					border: none
					outline: none
					padding-left: 15px

				textarea
					width: 100%
					height: 200px
					border: none
					outline: none
					background: rgba(255,255,255, .5)
					padding: 20px
					font-size: 14px
					color: #222
			.summit
				display: block
				width: 140px
				text-align: center
				color: #FFF
				background: #096faf
				padding: 8px 20px
				float: right











.circle_wrapper
	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container
		padding: 0 10px
		width: 100%
		height: 500px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		position: relative
		overflow: hidden
		.circle_bg
			// position: absolute
			width: 300px
			height: 300px
			border-radius: 50%
			box-sizing: border-box
			border: 5px solid #d5d7d7
			// display: flex
			// flex-direction: row
			// align-items: center
			// justify-content: center
			position: relative

			.c_des_1,.c_des_2,.c_des_3,.c_des_4,.c_des_5
				position: absolute
				width: 300px
				height: 300px
				padding: 20px 23px
				// background: #289
				left: 0
				top: 0
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				h4
					font-size: 20px
					line-height: 1.2
					margin-bottom: 5px
					color: #69c5b2
					font-weight: 700
				p
					font-size: 13px


		.circle_p1, .circle_p2,.circle_p3,.circle_p4
			position: absolute
			width: 300px
			height: 300px
			border-radius: 50%
			transform: rotate(45deg)
			box-sizing: border-box
			border: 5px solid transparent
			border-top: 5px solid #2da1c9
			z-index: 2300
			top: 100px
			left: 50%
			margin-left: -150px


	+susy-breakpoint($breakpoint_desktop, $w_desktop)
		+container
		width: 100%
		height: 800px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		position: relative
		// background-color: #199

		.circle_bg
			// position: absolute
			width: 500px
			height: 500px
			border-radius: 50%
			box-sizing: border-box
			border: 5px solid #d5d7d7
			// display: flex
			// flex-direction: row
			// align-items: center
			// justify-content: center
			position: relative

			.c_des_1,.c_des_2,.c_des_3,.c_des_4,.c_des_5
				position: absolute
				width: 500px
				height: 500px
				padding: 30px 50px
				// background: #289
				left: 0
				top: 0
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				h4
					font-size: 30px
					line-height: 1.2
					margin-bottom: 20px
					color: #69c5b2
					font-weight: 700
				p
					font-size: 16px



		.circle_p1, .circle_p2,.circle_p3,.circle_p4
			position: absolute
			width: 500px
			height: 500px
			border-radius: 50%
			transform: rotate(45deg)
			box-sizing: border-box
			border: 5px solid transparent
			border-top: 5px solid #2da1c9
			z-index: 2300
			top: 150px
			left: 50%
			margin-left: -250px

.redo
	width: 150px
	height: 30px
	margin: 0 auto
	color: #888
	border: 1px solid #c0c0c0
	// border-radius: 50px
	display: flex
	flex-direction: row
	align-items: center
	justify-content: center
	font-size: 14px
	cursor: pointer
	transition: all .3s
	&:hover
		background: #096faf
		border: 1px solid #096faf
		color: #FFF




.c_des_1_animaiton
	opacity: 1
	animation: showtext1 2s forwards
	animation-delay: 2s
.c_des_2_animaiton
	opacity: 0
	animation: showtext 2s forwards
	animation-delay: 4s
.c_des_3_animaiton
	opacity: 0
	animation: showtext 2s forwards
	animation-delay: 6s
.c_des_4_animaiton
	opacity: 0
	animation: showtext_end 2s forwards
	animation-delay: 8s

@keyframes showtext1
	0%
		opacity: 1
	85%
		opacity: 1
	100%
		opacity: 0

@keyframes showtext
	0%
		opacity: 0
	15%
		opacity: 1
	99%
		opacity: 1
	100%
		opacity: 0
@keyframes showtext_end
	0%
		opacity: 0
	15%
		opacity: 1
	100%
		opacity: 1




.circle_p1_animaiotn
	animation: loader_1 2s forwards

.circle_p2_animaiotn
	animation: loader_2 2s forwards
	animation-delay: 2s

.circle_p3_animaiotn
	animation: loader_3 2s forwards
	animation-delay: 4s

.circle_p4_animaiotn
	animation: loader_4 2s forwards
	animation-delay: 6s



@keyframes loader_1
	0%
		opacity: 0
		transform: rotate(45deg)

	100%
		opacity: 1
		transform: rotate(45deg)

@keyframes loader_2
	0%
		transform: rotate(45deg)

	100%
		transform: rotate(135deg)

@keyframes loader_3
	0%
		transform: rotate(135deg)

	100%
		transform: rotate(225deg)

@keyframes loader_4
	0%
		transform: rotate(225deg)

	100%
		transform: rotate(315deg)



.dot_1
	position: absolute
	width: 20px
	height: 20px
	border-radius: 50%
	background: #999
	right: -12px
	top: 50%
	margin-top: -5px
	z-index: 2500
	animation: dot 1s forwards

.dot_2
	position: absolute
	width: 20px
	height: 20px
	border-radius: 50%
	background: #999
	left: 50%
	bottom: -12px
	margin-left: -5px
	z-index: 2600
	animation: dot 1s forwards
	animation-delay: 4s
.dot_3
	position: absolute
	width: 20px
	height: 20px
	border-radius: 50%
	background: #999
	left: -12px
	top: 50%
	margin-top: -5px
	z-index: 2700
	animation: dot 1s forwards
	animation-delay: 6s
.dot_4
	position: absolute
	width: 20px
	height: 20px
	border-radius: 50%
	background: #999
	left: 50%
	top: -12px
	margin-left: -5px
	z-index: 2800
	animation: dot 1s forwards
	animation-delay: 8s

@keyframes dot
	0%
		background: #999

	100%
		background: #2da1c9


.date_1
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		display: none

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		display: block
		font-size: 20px
		opacity: 0
		position: absolute
		width: 150px
		height: 40px
		right: -36%
		top: 48%
		z-index: 2800
		color: #69c5b2
		animation: date 1s forwards
		cursor: pointer
.date_2
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		display: none

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		display: block
		font-size: 20px
		opacity: 0
		position: absolute
		width: 150px
		height: 40px
		right: 23%
		bottom: -12%
		z-index: 2800
		color: #69c5b2
		animation: date 1s forwards
		animation-delay: 3s
		cursor: pointer

.date_3
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		display: none

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		display: block
		font-size: 20px
		opacity: 0
		position: absolute
		width: 150px
		height: 40px
		left: -26%
		top: 49%
		z-index: 2800
		color: #69c5b2
		animation: date 1s forwards
		animation-delay: 5s
		cursor: pointer

.date_4
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		display: none

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		display: block
		font-size: 20px
		opacity: 0
		position: absolute
		width: 100px
		text-align: center
		height: 40px
		right: 39%
		top: -10%
		z-index: 2800
		color: #69c5b2
		animation: date 1s forwards
		animation-delay: 7s
		cursor: pointer

@keyframes date
	0%
		opacity: 0

	100%
		opacity: 1































