@import "bourbon";
@import "susy";
@import _map.scss


// shorthand
$desktop: 12 (80px 20px) split
$pad: 6 (70px 30px) split

$w_desktop: 12 split
$w_pad: 6 split

$breakpoint_desktop: 891px
$breakpoint_pad: 0 890px


$susy: (debug: (image: hide))



.core_tech
	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container
		

	+susy-breakpoint($breakpoint_desktop, $w_desktop)
		+container
		.core_tech_contain
			+span(4)
			height: 300px
			background: #289
	


