@import "bourbon";
@import "susy";
@import _map.scss


// shorthand
$desktop: 12 (70px 30px) split
$pad: 6 (70px 30px) split

$w_desktop: 12 split
$w_pad: 6 split

$breakpoint_desktop: 891px
$breakpoint_pad: 0 890px


$susy: (debug: (image: hide))



.products
	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container
		.section_main
			background: url(../img/pixel.png) #FFF
			background-repeat: repeat-x
			padding: 90px 20px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			.illustration_main
				margin-bottom: 50px
				img
					width: 100%
			.arrow_down
				margin-bottom: 50px

			h3
				font-size: 15px
				margin-bottom: 10px
				color: #FFF
			h2
				font-size: 30px
				margin-bottom: 90px
				color: #FFF
			p
				font-size: 25px
				color: #17317c
				text-align: center

	+susy-breakpoint($breakpoint_desktop, $w_desktop)
		+container
		.section_main
			background: url(../img/pixel.png) #FFF
			padding-bottom: 90px
			padding-top: 90px
			background-repeat: repeat-x
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			.illustration_main
				width: 650px
				margin-bottom: 50px
				img
					width: 100%
			.arrow_down
				margin-bottom: 50px

			h3
				font-size: 15px
				margin-bottom: 10px
				color: #FFF
			h2
				font-size: 30px
				margin-bottom: 90px
				color: #FFF
			p
				font-size: 25px
				color: #17317c
				text-align: center
				



.products-wrapper
	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container
		background: #FFF
		padding-bottom: 100px
		padding-top: 0px

	+susy-breakpoint($breakpoint_desktop, $w_desktop)
		+container
		background: #FFF
		padding-bottom: 100px
		padding-top: 100px



.products_contnet
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		.mobile_side
			display: block
			margin-top: 60px
			margin-bottom: 60px
			padding: 0 20px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			.photo
				+span(6)
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				margin-bottom: 20px
				.product-logo
					display: block
					width: 65%
					margin-bottom: 40px
				.product-img
					display: block
					width: 100%

				.choose
					img
						width: 100%
						border: 1px solid #eee
			.description
				+span(6)
				img
					display: block
					width: 50%
					margin: 0 auto
					margin-bottom: 30px
				h6
					font-size: 20px
					color: #0067bc
					margin-bottom: 20px
					font-weight: 700
					text-align: center

				p
					font-size: 16px
					color: #555
					line-height: 1.5
				a
					display: block
					font-size: 16px
					color: #0067bc
					margin-top: 40px
					text-align: center
					margin-bottom: 40px
			.l-line
				width: 100%
				height: 2px
				background: #eee
				clear: both
		.dektop_side
			display: none


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		.mobile_side
			display: none

		.dektop_side
			display: block
			margin-top: 100px
			margin-bottom: 100px
			padding: 50px 20px
			display: flex
			flex-direction: row
			align-items: center
			justify-content: center
			.photo
				+span(6)
				display: flex
				flex-direction: row
				align-items: center
				justify-content: center
				position: relative
				.choose
					position: absolute
					width: 146%
					right: -44%
					top: -310px
					transform: rotate(-12deg)
					img
						border: 1px solid #eee
			.description
				+span(6)
				img
					margin-bottom: 30px
				h6
					font-size: 20px
					color: #0067bc
					margin-bottom: 20px
					font-weight: 700
				p
					font-size: 16px
					color: #555
					line-height: 1.5
				a
					display: block
					font-size: 16px
					color: #0067bc
					margin-top: 40px
			.l-line
				width: 100%
				height: 2px
				background: #eee
				clear: both














