{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<script>


  $(window).scroll(function (event) {
      var circle_wrapper_h = $('.circle_wrapper').offset().top;

      var sc_1 = $(window).scrollTop() + 250;

      // console.log(target_go_1_h);
      // console.log(sc);
      if(sc_1 > circle_wrapper_h){
        $(".circle_p1").addClass('circle_p1_animaiotn')
        $(".circle_p2").addClass('circle_p2_animaiotn')
        $(".circle_p3").addClass('circle_p3_animaiotn')
        $(".circle_p4").addClass('circle_p4_animaiotn')

        $(".c_des_1").addClass('c_des_1_animaiton')
        $(".c_des_2").addClass('c_des_2_animaiton')
        $(".c_des_3").addClass('c_des_3_animaiton')
        $(".c_des_4").addClass('c_des_4_animaiton')

      }
      else{
        $(".circle_p1").removeClass('circle_p1_animaiotn')
        $(".circle_p2").removeClass('circle_p2_animaiotn')
        $(".circle_p3").removeClass('circle_p3_animaiotn')
        $(".circle_p4").removeClass('circle_p4_animaiotn')

        $(".c_des_1").removeClass('c_des_1_animaiton')
        $(".c_des_2").removeClass('c_des_2_animaiton')
        $(".c_des_3").removeClass('c_des_3_animaiton')
        $(".c_des_4").removeClass('c_des_4_animaiton')
      }

      // $(".redo").click(function(){
      // 	$(".circle_p1").removeClass('circle_p1_animaiotn')
      //   $(".circle_p2").removeClass('circle_p2_animaiotn')
      //   $(".circle_p3").removeClass('circle_p3_animaiotn')
      //   $(".circle_p4").removeClass('circle_p4_animaiotn')

      //   $(".c_des_1").removeClass('c_des_1_animaiton')
      //   $(".c_des_2").removeClass('c_des_2_animaiton')
      //   $(".c_des_3").removeClass('c_des_3_animaiton')
      //   $(".c_des_4").removeClass('c_des_4_animaiton')

      //  	setInterval(function(){ 
      //  		$(".circle_p1").addClass('circle_p1_animaiotn')
      //   	$(".circle_p2").addClass('circle_p2_animaiotn')
      //   	$(".circle_p3").addClass('circle_p3_animaiotn')
      //   	$(".circle_p4").addClass('circle_p4_animaiotn')

      //   	$(".c_des_1").addClass('c_des_1_animaiton')
      //  		$(".c_des_2").addClass('c_des_2_animaiton')
      //   	$(".c_des_3").addClass('c_des_3_animaiton')
      //   	$(".c_des_4").addClass('c_des_4_animaiton')
      //  	 }, 500)

      // })

  });

</script>



<div class="aboutus">
	<div class="section_main">

		<h3>About Us</h3>
		<h2>關於我們</h2>
		<div class="illustration_main">
			<img src="img/aboutus_01.png" alt="">
		</div>
		<div class="arrow_down"><img src="img/arrow_down.png" alt=""></div>

	</div>
</div>


<!-- bg blue -->
<div class="aboutus-wrapper">

	<div class="who_are_we">
		Who are we? <br>
		認識藍星球
	</div>

	<div class="aboutus_article">
		<div class="p-text">
			藍星球資訊股份有限公司創立於2013年， 組成兼具「資訊」技術與「人文」精神的團隊，致力於數位化、詮釋資料分析、數位加值 及資料庫檢索技術整合之服務與研發。
		</div>
		<div class="article_contain">
			<p>於在大數據、資訊爆炸的時代，藍星球團隊不斷精進核心技術，提供智慧化的文本分析、相似文件群集、前後文自動化串聯等中文字的探勘技術，藉以從龐大的資料中找出使用者所關注、需要的文件。藍星球專長將全文資料、非結構性資料、半結構性資料中重要的關鍵字詞自動化標註、將不同作者所撰寫的文本正規化，不但可確保資料格式的一致性、有效的減少資料中的錯誤，還可提升資料的可利用性。</p>
			<p>以上述技術為基底，打造「透事THOUGHTS雲端服務API」面向中文大數據分析市場；以及「蛛思CHOOSE輿情智慧分析平台」呼應客戶需求，提供不同於市面產品，具備快速、準確、多元分析、精緻圖表的輿論口碑監測系統。</p>
			<p>而藍星球的系統建置解決方案，使用者可依多重主題分類瀏覽，也能進行全文檢索、詮釋資料搜尋、或跨資料庫綜合檢索。另有增加/排除檢索條件、檢索歷程紀錄、建立個人文件集、與資料輸出等功能。</p>
			<p>藍星球希冀結合既有數位人文科技的基礎，融合人本思想於專案執行、顧問服務與產品開發之中，未來藍星球將持續以提供各領域完整資訊系統解決方案為目標，應用技術突破人力不及之處，有系統地處理巨量資料內容，並透過不斷演進的核心技術及工具，視覺化呈現資料間各種關連及脈絡，使典藏資源可被更活化運用。以客戶服務為最高原則，運用我們的技術，打造專業的資訊系統，實踐永續經營的理念，為客戶創造最高價值。</p>
	</div>
	<div class="clear"></div>


	<div class="circle_wrapper">

		<div class="circle_bg">
			<div class="c_des_1">
				<h4>結合數位人文 <br>
					推動數位典藏</h4>
				<p>臺灣大學數位人文研究中心，成立於2007年，具有多項大型數位典藏專案執行經驗、資料庫建置等豐富經驗，包括文化部、國史館、史政局、臺灣歷史數位圖書館等機構之數位典藏計畫。</p>
			</div>			
			<div class="c_des_2">
				<h4>臺灣大學技術轉移 <br>
					推動數位典藏</h4>
				<p>藍星球資訊股份有限公司創立於2013年，研發團隊多為臺灣大學資訊工程學系自動推論與數位典藏實驗室畢業生，長年致力於數位化、後設資料分析、數位加值及資料庫檢索技術整合之服務與研發。</p>
			</div>			
			<div class="c_des_3">
				<h4>服務導向<br>創新發展</h4>
				<p>藍星球長年致力於數位化、後設資料分析、數位加值及資料庫檢索技術整合之服務，包含文化部、內政部、外交部國際傳播司等政府單位之專案計畫，獲極高的肯定，近年更致力於創新發展。</p>
			</div>			
			<div class="c_des_4">
				<h4>品牌成立 <br>展望未來</h4>
				<p>近年藍星球承接包括臺北市政府文化局、資訊局、林務局、宜蘭縣史館、臺灣客家委員會等政府機構之數位典藏相關專案，建立優質品牌，並積極創新應用技術，使數典資源被更廣泛的運用。</p>
			</div>

			<div class="dot_1"></div>
			<div class="date_1">2007-2012</div>
			<div class="dot_2"></div>
			<div class="date_2">2013</div>
			<div class="dot_3"></div>
			<div class="date_3">2014-2015</div>
			<div class="dot_4"></div>
			<div class="date_4">2016-Now</div>
		</div>

		<div class="circle_p1"></div>
		<div class="circle_p2"></div>
		<div class="circle_p3"></div>
		<div class="circle_p4"></div>

	</div>

		<!-- <div class="redo">重播一次</div> -->

	</div>
</div>


<!-- bg white -->
<div class="aboutus-wrapper_white">
	<div class="who_are_we">
		Our members <br>
		藍星球團隊
	</div>

	<div class="our_team">

		<div class="our_team_article">
			藍星球資訊由臺灣大學資工系研發團隊領軍，融合年輕的創造力，以及豐富的業界經驗<br>以中文資料分析技術為核心，轉動無限可能
		</div>
		<div class="clear"></div>

		<div class="our_team_cool">
			<img src="img/aboutus_02.png" alt="">
		</div>

	</div>
</div>

<div class="anyquestion-wrapper" id='goto_connect'>
	<div class="anyquestion">
		<div class="anyquestion_q">
			<h4>您有任何問題或需求？</h4>
			<h5>我們歡迎您來詢問！</h5>
			<img src="img/icon_a.png" alt="">
		</div>
		<div class="questionnaire">
			<div class="questionnaire_list">
				<div class="q-t">姓名</div>
				<input type="text">
			</div>
			<div class="questionnaire_list">
				<div class="q-t">E-Mail</div>
				<input type="text">
			</div>
			<div class="questionnaire_list">
				<div class="q-t">手機</div>
				<input type="text">
			</div>
			<div class="questionnaire_list">
				<div class="q-t">您的問題</div>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>

			<a href="#" class="summit">送出</a>
		</div>
	</div>
</div>





{% endblock %}