{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}





<div class="aboutus">
	<div class="section_main">
		
		<h3>EXPERTISES</h3>
		<h2>核心技術</h2>
		<div class="illustration_main">
			<img src="img/aboutus_01.png" alt="">
		</div>
		<div class="arrow_down"><img src="img/arrow_down.png" alt=""></div>
		
		<p>這是一個很長很長的故事這是一個很長很長的故事</p>
		<p>這是一個很長很長的故事這是一個很長很長的故事</p>
	</div>
</div>











{% endblock %}