{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="bread_crumbs">
	<div class="link_navigator expertise_a">輿情監測類 </div>
	<div class="link_navigator expertise_b">開放資料類</div>
	<div class="link_navigator expertise_c">數位典藏類</div>
	<div class="link_navigator expertise_d">學術教育類</div>
	<div class="link_navigator expertise_e">其他</div>
</div>

<div class="expertises">
	<div class="section_main">

		<h3>EXPERTISES</h3>
		<h2>核心技術</h2>
		<div class="illustration_main">
			<img src="img/expertise_01.png" alt="">
		</div>
		<div class="arrow_down"><img src="img/arrow_down.png" alt=""></div>

		<p>這是一個很長很長的故事這是一個很長很長的故事</p>
		<p>這是一個很長很長的故事這是一個很長很長的故事</p>
	</div>
</div>


<div class="w-wrapper">

<!-- 透事THOUGHTS -->
	<div class="thoughts">
		<section>
			<div class="thoughts_col">
				<h6>透事THOUGHTS</h6>
			</div>
			<div class="thoughts_col">
				<img src="img/expertise_02.png" alt="">
			</div>
			<div class="thoughts_col">
				<p>透事分析技術系列，提供雲端服務API，使用者快速取用所需分析結果，掌握中文資料精華，時間人力成本大幅降低，資料研究如虎添翼。</p>
		 		<a href="" data-iziModal-open="#modal-one">想知道更多有關透事THOUGHTS API系列</a>
	 		</div>
		</section>

		<div class="arrow_down"><img src="img/arrow_down.png" alt=""></div>
		<button class="trigger" data-iziModal-open="#modal-one">Open lightbox</button>
	</div>




<!-- iziModal -->
<div id="modal-one" class="iziModal" data-izimodal-title="透事THOUGHTS" >
		<div class="lightbox_a">
			<div class="detail_item">
				<img src="img/good_icon_01.png" alt="">
				<h6>詞彙萃取</h6>
				<p>本技術以機器學習為基底，大量學習文章用語樣式（pattern），自動化萃取文本中的人物、時間、團體、品牌、關鍵字詞彙，使分析結果具準確優勢。無論何種時間標記方式，皆可進行正規化轉換，利於大量資料整合； 地點串接經緯度資料， 方便應用於地圖標記。</p>
			</div>
			<div class="detail_item">
				<img src="img/good_icon_01.png" alt="">
				<h6>詞彙萃取</h6>
				<p>本技術以機器學習為基底，大量學習文章用語樣式（pattern），自動化萃取文本中的人物、時間、團體、品牌、關鍵字詞彙，使分析結果具準確優勢。無論何種時間標記方式，皆可進行正規化轉換，利於大量資料整合； 地點串接經緯度資料， 方便應用於地圖標記。</p>
			</div>
			<div class="detail_item">
				<img src="img/good_icon_01.png" alt="">
				<h6>詞彙萃取</h6>
				<p>本技術以機器學習為基底，大量學習文章用語樣式（pattern），自動化萃取文本中的人物、時間、團體、品牌、關鍵字詞彙，使分析結果具準確優勢。無論何種時間標記方式，皆可進行正規化轉換，利於大量資料整合； 地點串接經緯度資料， 方便應用於地圖標記。</p>
			</div>
			<div class="detail_item">
				<img src="img/good_icon_01.png" alt="">
				<h6>詞彙萃取</h6>
				<p>本技術以機器學習為基底，大量學習文章用語樣式（pattern），自動化萃取文本中的人物、時間、團體、品牌、關鍵字詞彙，使分析結果具準確優勢。無論何種時間標記方式，皆可進行正規化轉換，利於大量資料整合； 地點串接經緯度資料， 方便應用於地圖標記。</p>
			</div>
			<div class="detail_item">
				<img src="img/good_icon_01.png" alt="">
				<h6>詞彙萃取</h6>
				<p>本技術以機器學習為基底，大量學習文章用語樣式（pattern），自動化萃取文本中的人物、時間、團體、品牌、關鍵字詞彙，使分析結果具準確優勢。無論何種時間標記方式，皆可進行正規化轉換，利於大量資料整合； 地點串接經緯度資料， 方便應用於地圖標記。</p>
			</div>
			<div class="detail_item">
				<img src="img/good_icon_01.png" alt="">
				<h6>詞彙萃取</h6>
				<p>本技術以機器學習為基底，大量學習文章用語樣式（pattern），自動化萃取文本中的人物、時間、團體、品牌、關鍵字詞彙，使分析結果具準確優勢。無論何種時間標記方式，皆可進行正規化轉換，利於大量資料整合； 地點串接經緯度資料， 方便應用於地圖標記。</p>
			</div>
		</div>
</div>




<!-- 中文檢索引擎 -->
	<div class="thoughts">
		<section>
			<div class="thoughts_col">
				<h6>中文檢索引擎</h6>
			</div>
			<div class="thoughts_col">
				<img src="img/expertise_03.png" alt="">
			</div>
			<div class="thoughts_col">
				<h5>精準，更求完整</h5>
				<p>針對中文字博大精深及變化，藍星球資訊發展完整支援容錯／簡繁體／異體字的檢索引擎。</p>
	 		</div>
		</section>

		<div class="arrow_down"><img src="img/arrow_down.png" alt=""></div>
	</div>



<!-- 數位⼈文架構 -->
	<div class="thoughts">
		<section>
			<div class="thoughts_col">
				<h6>數位⼈文架構</h6>
			</div>
			<div class="thoughts_col">
				<img src="img/expertise_04.png" alt="">
			</div>
			<div class="thoughts_col">
				<p>提供符合數位人文資料庫之架構及詮釋資料與全文資料的自動化處理。無論原始資料格式為結構化、半結構化、非結構化之型態，皆可透過藍星球資訊的「自動化資料豐富程序」將資料對應都柏林核心集 (Dublin-Core) 格式，並去除無效、重覆或空白之噪音，將資料正規化處理。並擷取出資料中重要之特徵資訊 (如人、事、時、地、物)，並直接轉換成一套能支援簡繁體中文檢索、具備人、事、時、地、物檢索後分類、具備時間軸檢視、具備空間軸檢視等功能。</p>

	 		</div>
		</section>

	</div>

</div>








{% endblock %}