{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<div class="main_image">
	<h2>「假字」藍星球首頁一句話重點slogan</h2>
	<p>我們假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字</p>
	<p>我們假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字</p>
	<div class="w_main">

		<div class="dotline motion_dotline"></div>
		<div class="cool_earth motion_earth"></div>

	</div>

</div>


<div class="w-wrapper">
<div class="core_tech">
	<div class="section_title">核心技術</div>
	<div class="core_tech_contain">

		<img src="img/core-tech_01.png" alt="">

		<div class="core_descrition">
			<h5>透事THOUGHTS：中文探勘分析技術系列</h5>
			<h6>精華，智慧萃取</h6>
			<p>藍星球資訊專注處理中文巨量資料，以「自動化資料豐富程序」為核心，研發一系列探勘分析技術模組：詞彙萃取、智慧分類、自動摘要、情緒感測、猜你喜歡、觀點聚類。
			</p>
		</div>

	</div>

	<div class="core_tech_contain">
		<img src="img/core-tech_02.png" alt="">

		<div class="core_descrition">
			<h5>透事THOUGHTS：中文探勘分析技術系列</h5>
			<h6>精華，智慧萃取</h6>
			<p>藍星球資訊專注處理中文巨量資料，以「自動化資料豐富程序」為核心，研發一系列探勘分析技術模組：詞彙萃取、智慧分類、自動摘要、情緒感測、猜你喜歡、觀點聚類。
			</p>
		</div>

	</div>

	<div class="core_tech_contain">
		<img src="img/core-tech_03.png" alt="">

		<div class="core_descrition">
			<h5>透事THOUGHTS：中文探勘分析技術系列</h5>
			<h6>精華，智慧萃取</h6>
			<p>藍星球資訊專注處理中文巨量資料，以「自動化資料豐富程序」為核心，研發一系列探勘分析技術模組：詞彙萃取、智慧分類、自動摘要、情緒感測、猜你喜歡、觀點聚類。
			</p>
		</div>
	</div>
</div>




<div class="product_service">
	<div class="section_title">產品與服務</div>

	<div class="tab_switch">
		<div class="tab_button active btn_product">產品</div>
		<div class="tab_button btn_service">服務</div>
	</div>
	<div class="clear"></div>

	<div class="product_service_contnet_wrapper contnat_a">
		<div class="product_service_contnet">
			<img src="img/product_01.png" alt="">
			<div class="product_descrition">
				<h6>透事THOUGHTS <br>雲端服務API</h6>

				<p>透事分析技術系列，提供雲端服務API，</p>
				<p>使用者快速取用所需分析結果，</p>
				<p>掌握中文資料精華，</p>
				<p>時間人力成本大幅降低，</p>
				<p>資料研究如虎添翼。</p>
				<p class="blue_t">— 即將上線 —</p>
			</div>
		</div>

		<div class="product_service_contnet">
			<img src="img/product_02.png" alt="">
			<div class="product_descrition">
				<h6>蛛思CHOOSE <br>輿情智慧分析平台</h6>

				<p>本平台採用藍星球透事技術系列，</p>
				<p>為資料處理核心，</p>
				<p>網羅所有中文新聞媒體及社群網站，</p>
				<p>提供聲量趨勢、評價監控、議題關係、主題比較等，</p>
				<p>精緻圖表分析。</p>
				<p class="blue_t">— 社群網站及中國新聞資料，即將上線 —</p>
			</div>
		</div>

		<div class="product_service_contnet">
			<img src="img/product_03.png" alt="">
			<div class="product_descrition">
				<h6>GOTCHA <br> 標案捕手</h6>

				<p>訂閱關鍵字，</p>
				<p>輕鬆收取政府採購快訊，</p>
				<p>每天早上七點，</p>
				<p>上班前商機到手。</p>
				<p class="blue_t">— 即將上線 —</p>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="product_service_contnet_wrapper contnat_b div_hidden">
		<div class="product_service_contnet">
			<img src="img/product_03.png" alt="">
			<div class="product_descrition">
				<h6>解決方案</h6>

				<p>訂閱關鍵字，</p>
				<p>輕鬆收取政府採購快訊，</p>
				<p>每天早上七點，</p>
				<p>上班前商機到手。</p>
				<p class="blue_t">— 即將上線 —</p>
			</div>
		</div>
	</div>



</div>
</div>



<div class="succuess">
	<div class="section_title">成功案例</div>
	<div class="success_logo"><img src="img/logo_01.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_02.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_03.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_04.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_05.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_06.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_07.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_08.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_09.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_10.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_11.jpg" alt=""></div>
	<div class="success_logo"><img src="img/logo_12.jpg" alt=""></div>

</div>











{% endblock %}