{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}





<div class="core_tech">

	<div class="section_title">核心技術</div>
	
	<div class="core_tech_contain">
		<img src="img/core-tech_01.png" alt="">

		<div class="core_descrition">
			<h5>透事THOUGHTS：中文探勘分析技術系列</h5>
			<h6>精華，智慧萃取</h6>
			<p>藍星球資訊專注處理中文巨量資料，以「自動化資料豐富程序」為核心，研發一系列探勘分析技術模組：詞彙萃取、智慧分類、自動摘要、情緒感測、猜你喜歡、觀點聚類。
			</p>
		</div>

	</div>
	
	<div class="core_tech_contain">
		<img src="img/core-tech_01.png" alt="">

		<div class="core_descrition">
			<h5>透事THOUGHTS：中文探勘分析技術系列</h5>
			<h6>精華，智慧萃取</h6>
			<p>藍星球資訊專注處理中文巨量資料，以「自動化資料豐富程序」為核心，研發一系列探勘分析技術模組：詞彙萃取、智慧分類、自動摘要、情緒感測、猜你喜歡、觀點聚類。
			</p>
		</div>

	</div>

	<div class="core_tech_contain">
		<img src="img/core-tech_01.png" alt="">

		<div class="core_descrition">
			<h5>透事THOUGHTS：中文探勘分析技術系列</h5>
			<h6>精華，智慧萃取</h6>
			<p>藍星球資訊專注處理中文巨量資料，以「自動化資料豐富程序」為核心，研發一系列探勘分析技術模組：詞彙萃取、智慧分類、自動摘要、情緒感測、猜你喜歡、觀點聚類。
			</p>
		</div>

	</div>

</div>



	
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






{% endblock %}