{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}
<script>

	$(document).on('ready', function() {
		$(".regular-a").slick({
			dots: false,
			infinite: true,

		});

	});

</script>

<!-- <div class="bread_crumbs">
	<div class="link_navigator our_clients_go_a">輿情監測類 </div>
	<div class="link_navigator our_clients_go_b">開放資料類</div>
</div> -->


<div class="our_clients">
	<div class="section_main">

		<h3>OUR CLIENTS</h3>
		<h2>成功案例</h2>
		<div class="illustration_main">
			<img src="img/success_01.png" alt="">
		</div>
		<div class="arrow_down"><img src="img/arrow_down.png" alt=""></div>

		<p>眾多政府機關及企業客戶，藍星球以技術能力和貼心設計深獲好評</p>
		<p>針對輿情監測、開放資料、數位典藏、學術、圖庫等各不同主題範疇，設計完善的資料庫系統平臺</p>
	</div>
</div>



<div class="our_clients_wrapper">


	<!-- 輿情監測類 -->
	<div class="our_clients_content target_1" id="target_1">
		<div class="m-title">
			輿情監測類
		</div>
		<div class="product_case_a" id="target_nkm">

			<div class="description">
				<img src="img/c-logo_tp.jpg" alt="">
				<h5>臺北市政府新聞知識系統</h5>
				<p>透過建構臺北市政府新聞知識系統，提供平面媒體、電視新聞、網路即時新聞及雜誌等媒體新聞資料，讓臺北市政府能快速掌握輿情，並提供內容的檢核機制，加強臺北市政府新聞聯繫工作，以利北市府掌握所屬各機關相關之媒體新聞動態，建立迅速、有效之因應處理機制。</p>
			</div>
			
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_nkm.jpg" alt="">
				    </div>
				</section>
			</div>
		
		</div>

		<div class="l-line"></div>

<div class="product_case_a" id="target_afn">

			<div class="description">
				<img src="img/c-logo_af.jpg" alt="">
				<h5>外交部國際輿情資料庫管理系統</h5>
				<p>為加強國際情輿情資料之整合查詢、瀏覽、列印及統計功能，除重新分析整理現行新聞資料及檔案外，同時亦規劃建置國際輿情蒐集管理平臺，提供更友善、便利操作介面及管理模組，提升各館處人員新聞資料管理之效率。</p>
			</div>

			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_afn.jpg" alt="">
				    </div>
				</section>
			</div>
		</div>
		<div class="l-line"></div>

		<div class="product_case_a" id="target_tc">
			<div class="description">
				<img src="img/c-logo_tc.png" alt="">
				<h5>臺北市議會新聞知識系統</h5>
				<p>北市議會新聞知識系統除現行剪報新聞外，廣納新聞資料多元型態（平面報紙、雜誌、網路新聞、影音新聞等），隨時提供即時新聞以支援問政。同時，提升檢索功能，並以視覺化呈現人事物之關聯分析，協助使用者掌握新聞事件核心。在新聞管理維護端，系統則採編目自動化並擷取關鍵字及未知新詞，減少人工編目以提升新聞處理時效。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_tc.jpg" alt="">
				    </div>
				</section>
			</div>
		</div>
		<div class="l-line"></div>

	</div>

	<!-- 開放資料 -->
	<div class="our_clients_content target_2" id="target_2">
		<div class="m-title" >
			開放資料類
		</div>
		<div class="product_case_a">
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_od.jpg" alt="">
				    </div>
				</section>
			</div>
			<div class="description">
				<img src="img/c-logo_tp.jpg" alt="">
				<h5>北市府資料開放平臺維運及擴增優化</h5>
				<p>臺北市政府為推動開放政府（OpenGovernment）之資料開放政策，整合各局處開放資料於單一入口網站，供市民瀏覽及程式開發者加值應用。目前平臺收錄多項高品質政府開放資料集，並提供線上預覽、檔案下載及API介接等多種服務模式，格式多元且隨時更新。於2017年進行改版，提升平臺使用的便利性、實用性。</p>
			</div>
		</div>
		<div class="l-line"></div>


		<div class="product_case_a" id="target_tai"> 

			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_tai.png" alt="">
				    </div>
				</section>
			</div>
			<div class="description">
				<img src="img/c-logo_tai.png" alt="">
				<h5>臺灣議事資料共創創新開放平臺</h5>
				<p>本系統針對臺灣議事資料提出一個政府公開資料的彈性應用架構，建立議事資料開放規範，研發使用者可以取用、參與、協力政府資料開放成果的共創創新模組，以臺灣省諮議會臺灣議事資料數位典藏系統「中華民國地方議會議事錄總庫」的執行成果為基礎，將此構想具體化，讓有興趣使用地方議會議事資料成果的使用者，可以快速便利的取得資料、進行資料再利用與再呈現，打破人與訊息之間的隔閡，進而可以藉此形成一套議事資料開放的模式，以達成協力共創公共服務、民間參與決策、彰顯地方自治成果</p>
			</div>		
		</div>
	</div>

	<!-- 數位典藏類 -->
	<div class="our_clients_content target_3" id="target_3">
		<div class="m-title" >
			數位典藏類
		</div>
		<div class="product_case_a" id="target_nl">		
			<div class="description">
				<img src="img/c-logo_nl.png" alt="">
				<h5>臺灣記憶-寶島曼波</h5>
				<p>國家圖書館以館藏臺灣歷史文化資源為基礎，將各種有關臺灣史料及文化價值的日據時期臺灣明信片、老照片、舊籍、地方志、古書契、家譜、碑碣拓片等資料數位化，建構資料庫，以呈現臺灣各時代的歷史記憶與風貌，提供各界檢索與利用，透過將「時間」和「空間」軸上的生命故事，展現人文歷史，提供多層面式的數位人文研究資料庫環境。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_nl.png" alt="">
					</div>
						
				</section>
		</div>
		</div>
		<div class="l-line"></div>


		<div class="product_case_a" id="target_mc">
			<div class="description">
				<img src="img/c-logo_mc.png" alt="">
				<h5>電影中心藏品資料管理系統</h5>
				<p>電影中心典藏特色係以電影膠片類為主要蒐藏，其他藏品類型則為電影出品相關衍生物。為整合實體典藏、數位典藏、典藏管理作業，有效管理藏品取得、註銷、編目、登錄、盤點、權利管理、維護、修復、入出庫、儲位與異動、取用等作業，並建置整合搜尋及資源交換機制，便利數位資源共享與搜尋，以提供系統管理者、典藏內容管理者、機構內部前端使用者利用，達成典藏資訊長期性保存，提升典藏作業程序效能等目標。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_mc.png" alt="">
				    </div>

				</section>
			</div>
		</div>
		<div class="l-line"></div>

				<div class="product_case_a" id="target_yc">
			<div class="description">
				<img src="img/c-logo_yc.jpg" alt="">
				<h5>宜蘭縣史館館藏史料管理系統</h5>
				<p>為完整建構宜蘭縣文獻委員會至今館藏的史料資源，協助建置宜蘭縣史館館藏史料之管理及展示平臺，開發包含史料的入館、入藏、入庫、管理及檢閱等功能，期望能更加開放並易於民眾查詢，同時優化館內人員作業流程。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_yh.jpg" alt="">
				    </div>
				</section>
			</div>
		</div>
		<div class="l-line"></div>

				<div class="product_case_a">
			<div class="description">
				<img src="img/c-logo_yc.jpg" alt="">
				<h5>宜蘭縣史館出版品資料庫系統</h5>
				<p>宜蘭縣史館出版品自民國81年至105年共發行《宜蘭文獻雜誌》107期、《宜蘭文獻叢刊》42種、《宜蘭縣史系列》13種、《宜蘭人文系列》8種，數量及種類繁多。有鑑於瀏覽數位檔案方式的轉變及行動載具的普及化，原展示方式已不敷使用，由本團隊進行改版建置作業，讓民眾可以更快速閱覽本館出版品資料。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_yp.jpg" alt="">
				    </div>
				</section>
			</div>
		</div>
		<div class="l-line"></div>

				<div class="product_case_a" id="target_hc"> 
			<div class="description">
				<img src="img/c-logo_hc.jpg" alt="">
				<h5>臺灣客家歷史影像數位典藏平臺</h5>
				<p>該案為推動客家歷史影像文化資源的整合應用，運用現有數位典藏內容，利用數位典藏之規格標準、作業流程及技術，建構以使用者為中心導向之整合應用平臺，以期推動數位典藏資源新創、運用與推廣，促進圖像文本與文獻文本整合運用，達成臺灣客家歷史影像知識體系建構。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_hc.jpg" alt="">
				    </div>
				</section>
			</div>
		</div>
		<div class="l-line"></div>

				<div class="product_case_a" id="target_ct">
			<div class="description">
				<img src="img/c-logo_ct.png" alt="">
				<h5>國家漫畫史料調查研究及數位典藏計畫</h5>
				<p>為全面且完整呈現國內漫畫史料研究及典藏資源，使國家漫畫史料館可充分呈現臺灣漫畫發展之歷史，同時亦針對現存臺灣原創漫畫及手稿、資深漫畫家物品、已完成數位典藏者以及收藏家或收藏單位進行資源調查研究，以瞭解臺灣原創漫畫作品現況、國外作法、收藏家名冊與既有收藏機構，並進行徵集典藏作業，期能及時保存珍貴漫畫文物，並作為國家漫畫博物館之典藏奠基。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/poto_01.jpg" alt="">
				    </div>
				</section>
			</div>
		</div>
		<div class="l-line"></div>

				<div class="product_case_a">
			<div class="description">
				<img src="img/c-logo_hm.png" alt="">
				<h5>臺史博古書契資料庫</h5>
				<p>臺灣古書契是反映民間社會生活的第一手史料，同時也是研究臺灣歷史最重要的第一手史料。本系統包含2014年至2016年「館藏古書契整理計畫」共12,000件，計250萬字之全文檔案。為了方便民眾查詢，並可以獲得並進行學術研究，本系統規劃建立利於研究者使用的檢索介面，除了檢索關鍵詞以外，並提供後分類全宗名和年代篩選，也導入鳥瞰式系統技術，從時間統計圖和地理分布圖的方式，從單件改為全面俯瞰。讓歷史學者和社會大眾，能夠獲得更多關於清領臺灣土地開發、經濟交易的具體樣貌。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_ob.png" alt="">
				    </div>
				</section>
			</div>
		</div>
		<div class="l-line"></div>

						<div class="product_case_a" id="target_hm">
			<div class="description">
				<img src="img/c-logo_hm.png" alt="">
				<h5>臺史博研究資源管理系統</h5>
				<p>臺史博內部資料管理系統，包含契約、地圖、照片、報紙、書信、音聲、實體物件、檔案、口述歷史影像紀錄、日記雜記、書籍研究論著、歷史空間等不同類別。建立一套可根據不同資料類型、設計資料欄位內容的管理系統，並可整合查詢、並接受批次管理、動態匯入匯出、統計報表等功能，以及提供多樣個人化功能，包含收藏夾、標籤紀錄，互動回應等功能。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_thlogo.png" alt="">
				    </div>				
				</section>
			</div>
		</div>
		<div class="l-line"></div>

						<div class="product_case_a">
			<div class="description">
				<img src="img/c-logo_hm.png" alt="">
				<h5>臺史博府城資料庫</h5>
				<p>臺史博累積多年府城相關文書檔案、文物史料與影音資料。包含碑匾、民間工藝宗教祭祀文物等珍貴史料。本系統彙整多年研究計畫、田野調查資料以外，並進一步運用地理空間資訊系統(GIS)、與地圖分析技術，將文物資料空間化、視覺化、呈現府城不同時間與空間的面爆，打造國內外府城歷史研究最豐富，也最多元全面的資料庫系統，提供研究者、教師、學生、及一般社會大眾更多的人文和歷史資訊，以及具深度與廣度的府城之遊。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_ot.png" alt="">
				    </div>			
				</section>
			</div>
		</div>
		<div class="l-line"></div>

	</div>

	<div class="our_clients_content target_3" id="target_3">
		<div class="m-title" >
			更多
		</div>
		<div class="product_case_a">
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_ar.png" alt="">
				    </div>
				</section>
			</div>
			<div class="description">
				<img src="img/c-logo_ar.jpg" alt="">
				<h5>華藝學術文獻管理系統</h5>
				<p>華藝線上圖書館，包含豐富的學術文獻，其中期刊文章共32,438,325本、會議論文集共2,691,880本、博碩士論文3,758,932本。本系統建立讓使用者可於線上管理自己擁有的學術文獻，並可於線上直接閱讀、撰寫個人化筆記、重新分類、以及匯出MLA、APA、Chicago、Endnote、RIS檔案格式輸出。除此之外，並導入語意分析技術，將學術文獻中的人物、關鍵字、地點進行自動擷取，並用以推薦使用者更多研究相關的學術文獻。</p>
			</div>
		</div>
		<div class="l-line"></div>

						<div class="product_case_a">
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_afi.jpg" alt="">
				    </div>
				</section>
			</div>
			<div class="description">
				<img src="img/c-logo_af.jpg" alt="">
				<h5>外交部攝影與美編圖庫管理系統</h5>
				<p>以外交部攝影與美編圖庫的圖片資料為核心，整合外交部國傳司歷年圖書資訊系統的建置經驗，規劃兼具實用功能及友善使用介面的攝影與美編圖庫管理系統。系統採Web-Based型態依循HTML5與CSS3之最新網路標準設計與建置，支援所有作業系統，並在各大瀏覽器上操作及運行。</p>
			</div>
		</div>
		<div class="l-line"></div>

			<div class="product_case_a" id="target_fd">
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_fd.jpg" alt="">
				    </div>
				</section>
			</div>
			<div class="description">
				<img src="img/c-logo_fd.png" alt="">
				<h5>林務局影音資訊平臺</h5>
				<p>為了典藏珍貴的林業史料，推動森林自然保育觀念，宣導森林公益功能，林務局蒐集各業務單位製作的宣導影片、海報、活動影像、老照片等資料，規劃建置「林務局影音資訊平臺」網站，提供整合管理、檢索瀏覽典藏的影音資料。同時，隨著影音串流技術與行動載具的發展，進行全面改版以持續推動自然保育、林業文化，維護野生物生態資源，加強生態林業教育宣導之經營理念與價值。</p>
			</div>
		</div>
		<div class="l-line"></div>

				<div class="product_case_a">
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_pm.png" alt="">
				    </div>
				</section>
			</div>
			<div class="description">
				<img src="img/c-logo_tp.jpg" alt="">
				<h5>北部流行音樂中心官方網站</h5>
				<p>北流基地位於臺北市捷運南港站與昆陽站之間，預定108年完工，為臺灣流行音樂之代表性場館。本網站旨在建置場館營運資料、流行音樂相關訊息，並同時整合本局歷年來推動「北部流行音樂中心」建置之軟體配套計畫成果，期使北流網站成為成為流行音樂資訊整合之平臺，並藉此推動流行音樂發展推動的基石。</p>
			</div>
		</div>
		<div class="l-line"></div>


				<div class="product_case_a" id="target_mf">
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/photo_mf.png" alt="">
				    </div>
				</section>
			</div>
			<div class="description">
				<img src="img/c-logo_mf.png" alt="">
				<h5>媒體小農新聞公益灌溉平臺</h5>
				<p>媒體新聞網頁裝上「媒體小農灌溉按鈕」，讀者肯定文章內容，輕鬆點一點即可捐款鼓勵；當用心的媒體，自讀者身上得到直接的經濟支持，就能獲得更多的新聞自由、付出心力走得更遠，為臺灣媒體環境，帶來好的改變。</p>
			</div>
		</div>
		<div class="l-line"></div>
		
	</div>

</div>





{% endblock %}