{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}
<script>

	$(document).on('ready', function() {
		$(".regular-a").slick({
			dots: false,
			infinite: true,

		});



	});

</script>

<!-- <div class="bread_crumbs">
	<div class="link_navigator our_clients_go_a">輿情監測類 </div>
	<div class="link_navigator our_clients_go_b">開放資料類</div>
</div> -->


<div class="our_clients">
	<div class="section_main">

		<h3>OUR CLIENTS</h3>
		<h2>成功案例</h2>
		<div class="illustration_main">
			<img src="img/success_01.png" alt="">
		</div>
		<div class="arrow_down"><img src="img/arrow_down.png" alt=""></div>

		<p>這是一個很長很長的故事這是一個很長很長的故事</p>
		<p>這是一個很長很長的故事這是一個很長很長的故事</p>
	</div>
</div>



<div class="our_clients_wrapper">


	<!-- 輿情監測類 -->
	<div class="our_clients_content target_1">
		<div class="m-title">
			輿情監測類
		</div>
		<div class="product_case_a">
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/poto_01.jpg" alt="">
				    </div>
				  	<div class="new_photo">
						<img src="img/poto_02.jpg" alt="">
				    </div>
				   <div class="new_photo">
						<img src="img/poto_03.jpg" alt="">
				    </div>
				</section>
			</div>

			<div class="description">
				<img src="img/c-logo_01.jpg" alt="">
				<h5>新聞知識系統</h5>
				<p>世界大學運動會於8月19日正式揭開序幕，各項賽事如火如荼的進行中，也帶起全民運動討論熱潮。其實華語娛樂圈有許多深藏不露的頂尖運動高手，無論在舞台上或競技場上，分別以搖滾、爵士、嘻哈、民謠作為四場小型演出的主軸，充滿音樂與創作性的演出企劃，讓巡演在開跑前便增添不少話題性。</p>
			</div>
		</div>

		<div class="l-line"></div>

		<div class="product_case_a">
			<div class="description">
				<img src="img/c-logo_01.jpg" alt="">
				<h5>新聞知識系統</h5>
				<p>世界大學運動會於8月19日正式揭開序幕，各項賽事如火如荼的進行中，也帶起全民運動討論熱潮。其實華語娛樂圈有許多深藏不露的頂尖運動高手，無論在舞台上或競技場上分別以搖滾、爵士、嘻哈、民謠作為四場小型演出的主軸，充滿音樂與創作性的演出企劃，讓巡演在開跑前便增添不少話題性。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/poto_01.jpg" alt="">
				    </div>
				  	<div class="new_photo">
						<img src="img/poto_02.jpg" alt="">
				    </div>
				   <div class="new_photo">
						<img src="img/poto_03.jpg" alt="">
				    </div>
				</section>
			</div>
		</div>
		<div class="l-line"></div>

	</div>

	<!-- 開放資料 -->
	<div class="our_clients_content target_2">
		<div class="m-title ">
			開放資料
		</div>
		<div class="product_case_a">
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/poto_01.jpg" alt="">
				    </div>
				  	<div class="new_photo">
						<img src="img/poto_02.jpg" alt="">
				    </div>
				   <div class="new_photo">
						<img src="img/poto_03.jpg" alt="">
				    </div>
				</section>
			</div>
			<div class="description">
				<img src="img/c-logo_01.jpg" alt="">
				<h5>新聞知識系統</h5>
				<p>世界大學運動會於8月19日正式揭開序幕，各項賽事如火如荼的進行中，也帶起全民運動討論熱潮。其實華語娛樂圈有許多深藏不露的頂尖運動高手，無論在舞台上或競技場上，分別以搖滾、爵士、嘻哈、民謠作為四場小型演出的主軸，充滿音樂與創作性的演出企劃，讓巡演在開跑前便增添不少話題性。</p>
			</div>
		</div>
		<div class="l-line"></div>


		<div class="product_case_a">
			<div class="description">
				<img src="img/c-logo_01.jpg" alt="">
				<h5>新聞知識系統</h5>
				<p>世界大學運動會於8月19日正式揭開序幕，各項賽事如火如荼的進行中，也帶起全民運動討論熱潮。其實華語娛樂圈有許多深藏不露的頂尖運動高手，無論在舞台上或競技場上分別以搖滾、爵士、嘻哈、民謠作為四場小型演出的主軸，充滿音樂與創作性的演出企劃，讓巡演在開跑前便增添不少話題性。</p>
			</div>
			<div class="photo_slide">
				<section class="regular-a slider">
				    <div class="new_photo">
						<img src="img/poto_01.jpg" alt="">
				    </div>
				  	<div class="new_photo">
						<img src="img/poto_02.jpg" alt="">
				    </div>
				   <div class="new_photo">
						<img src="img/poto_03.jpg" alt="">
				    </div>
				</section>
			</div>
		</div>

	</div>
</div>







{% endblock %}