{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="products">
	<div class="section_main">

		<h3>PRODUCTS</h3>
		<h2>產品資訊</h2>
		<div class="illustration_main">
			<img src="img/products_01.png" alt="">
		</div>
		<div class="arrow_down"><img src="img/arrow_down.png" alt=""></div>

		<p>您擁有大量資料，期待能快速發掘價值，甚至開啟AI進階應用？</p>
		<p>您希望口碑輿情監測平臺工具，完整、準確、美感圖表能真正兼具？</p>
		<p>歡迎立即探索藍星球產品</p>
	</div>
</div>


<div class="products-wrapper">

	<div class="products_contnet" id="product_target_01">
		
		<div class="mobile_side">
			<div class="photo">
				<img src="img/pp_logo_01.png" alt="" class="product-logo">
				<img src="img/pp_01.png" alt="" class="product-img">
			</div>

			<div class="description">
				<h6>透事Thoughts雲端中文探勘API</h6>
				<p>透事分析技術系列，提供雲端服務API，使用者可快速取用所需分析結果，掌握中文資料精華，時間人力成本大幅降低，資料研究如虎添翼。</p>
				<a href="https://thoughts.blueplanet.com.tw"target="_blank">透事THOUGHTS網頁</a>
			</div>
		</div>

		
		<div class="dektop_side">
			<div class="photo">
				<img src="img/pp_01.png" alt="">
			</div>
			<div class="description">
				<img src="img/pp_logo_01.png" alt="">
				<h6>透事Thoughts雲端中文探勘API</h6>
				<p>透事分析技術系列，提供雲端服務API，使用者可快速取用所需分析結果，掌握中文資料精華，時間人力成本大幅降低，資料研究如虎添翼。</p>

				<a href="https://thoughts.blueplanet.com.tw"target="_blank">透事THOUGHTS網頁</a>
			</div>
		</div>

	</div>




	<div class="clear"></div>
	<div class="l-line"></div>

	<div class="products_contnet" id="product_target_02">
		
		<div class="mobile_side">
			<div class="photo">
					<img src="img/pp_logo_02.png" alt="" class="product-logo">
				<div class="choose">
					<img src="img/choose.jpg" alt="" class="product-img">
				</div>
			</div>
			<div class="description">
				<h6>蛛思Choose輿情智慧分析平台</h6>
				<p>本平台採用藍星球透事技術系列，為資料處理核心，網羅所有中文新聞媒體及社群網站，提供聲量趨勢、評價監控、議題關係、主題比較等，精緻圖表分析。</p>

				<a href="https://choose.blueplanet.com.tw"target="_blank">蛛思CHOOSE網頁</a>
			</div>

		</div>
		
		<div class="dektop_side">
			<div class="description">
				<img src="img/pp_logo_02.png" alt="">
				<h6>蛛思Choose輿情智慧分析平台</h6>
				<p>本平台採用藍星球透事技術系列，為資料處理核心，網羅所有中文新聞媒體及社群網站，提供聲量趨勢、評價監控、議題關係、主題比較等，精緻圖表分析。</p>

				<a href="https://choose.blueplanet.com.tw"target="_blank">蛛思CHOOSE網頁</a>
			</div>
			<div class="photo">
				<div class="choose">
					<img src="img/choose.jpg" alt="">
				</div>
			</div>
		</div>
	</div>



	<div class="clear"></div>
	<div class="l-line"></div>


	<div class="products_contnet" id="product_target_03">

		
		<div class="mobile_side">
			<div class="photo">
				<img src="img/pp_logo_03.png" alt="" class="product-logo">
				<img src="img/pp_03.png" alt="" class="product-img">
			</div>

			<div class="description">

				<h6>GOTCHA藍星球政府標案捕手</h6>
				<p>輕鬆訂閱標案關鍵字，政府採購快訊不漏接，每天早上七點，上班前商機近在眼前</p>

				<a href="">標案捕手GOTCHA即將上線</a>
			</div>
		</div>

		
		<div class="dektop_side">
			<div class="photo">
				<img src="img/pp_03.png" alt="">
			</div>
			<div class="description">
				<img src="img/pp_logo_03.png" alt="">
				<h6>GOTCHA藍星球政府標案捕手</h6>
				<p>輕鬆訂閱標案關鍵字，政府採購快訊不漏接，每天早上七點，上班前商機近在眼前</p>

				<a href="">標案捕手GOTCHA即將上線</a>
			</div>
		</div>
	</div>

</div>





{% endblock %}