{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}





<div class="products">
	<div class="section_main">
		
		<h3>PRODUCTS</h3>
		<h2>產品資訊</h2>
		<div class="illustration_main">
			<img src="img/products_01.png" alt="">
		</div>
		<div class="arrow_down"><img src="img/arrow_down.png" alt=""></div>
		
		<p>這是一個很長很長的故事這是一個很長很長的故事</p>
		<p>這是一個很長很長的故事這是一個很長很長的故事</p>
	</div>
</div>




<div class="products-wrapper">
	<div class="products_contnet">
		<div class="photo">
			<img src="img/pp_01.png" alt="">
		</div>

		<div class="description">
			<img src="img/pp_logo_01.png" alt="">
			<h6>API系列</h6>
			<p>透事分析技術系列，提供雲端服務API，使用者快速取用所需分析結果，掌握中文資料精華，時間人力成本大幅降低，資料研究如虎添翼。</p>

			<a href="">透事THOUGHTS網頁</a>
		</div>
	</div>

	<div class="products_contnet">
		<div class="description">
			<img src="img/pp_logo_02.png" alt="">
			<h6>蛛思輿情平台</h6>
			<p>本平台採用藍星球透事技術系列，為資料處理核心，網羅所有中文新聞媒體及社群網站，提供聲量趨勢、評價監控、議題關係、主題比較等，精緻圖表分析。</p>

			<a href="">蛛思CHOOSE網頁</a>
		</div>
		<div class="photo">
			<img src="img/pp_01.png" alt="">
		</div>
	</div>

	<div class="products_contnet">
		<div class="photo">
			<img src="img/pp_03.png" alt="">
		</div>

		<div class="description">
			<img src="img/pp_logo_03.png" alt="">
			<h6>GOTCHA藍星球政府標案捕手</h6>
			<p>一小時了解日搖新趨勢 8月号一小時了解日搖新趨勢 8月号宇宙電波的【一小時了解日搖新趨勢】八月號來囉！喜迎二十週年紀念，來自各界的夢幻祝福，讓我們一起和氣志團說「生日快樂」；新世代女子重音偶像 PassCode 與超神秘的</p>

			<a href="">快來使用標案捕手GOTCHA</a>
		</div>
	</div>

</div>






{% endblock %}