{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}





<div class="solution">
	<div class="section_main">

		<h3>SOLUTIONS</h3>
		<h2>解決方案</h2>
		<div class="illustration_main">
			<img src="img/solution_01.png" alt="">
		</div>
		<div class="arrow_down"><img src="img/arrow_down.png" alt=""></div>

		<p>這是一個很長很長的故事這是一個很長很長的故事</p>
		<p>這是一個很長很長的故事這是一個很長很長的故事</p>
	</div>
</div>


<div class="solution_wrapper">

	<div class="solution_content">
		<div class="solution_case_a" id="go_01">
			<div class="photo_slide">
				<img src="img/s-01.png" alt="">
			</div>
			<div class="description">

				<h4>數位典藏解決方案</h4>
				<p>源自執行數位典藏國家型計畫經驗，以都柏林核心集做為詮釋資料標準，提供符合行動、桌面載具的瀏覽介面，具備完整支援中文的檢索引擎與檢索後分類系統。</p>

				<h5>智慧型資料格式轉接器</h5>
				<p>無論原始資料格式為MS-Excel、MS-Access、XML或JSON，原始資料格式轉接器都能對應 (mapping) 至都柏林核心集格式標準。</p>

				<h5>藍星球中文檢索引擎</h5>
				<p>提供容錯搜尋、同義詞、異體字、方言字、簡繁體轉換和布林檢索的中文檢索引擎。並支援「人/事/時/地/物」等檢索後分類統計與篩選系統。</p>

				<h5>轉換數位物件格式符合最新標準</h5>
				<p>Adobe Flash 自動轉檔為 HTML5、MARC21 自動轉檔為 XML/JSON、AVI/WMV 自動轉檔為 MP4。</p>

			</div>
			<div class="clear"></div>
		</div>


		<div class="solution_case_b" id="go_02">
			<div class="photo_slide">
				<img src="img/s-02.png" alt="">
			</div>

			<div class="description">
				<h4>新聞輿情解決方案</h4>
				<p>以藍星球透事資料處理技術為核心，整合新聞資料，結合後端管理暨前端開發技術，深入了解客戶需求，提供新聞輿情解決方案</p>


				<h5>藍星球新聞中心</h5>
				<p>主要監控範圍包括台灣主流新聞媒體、網路獨立新聞媒體；亦可依客戶需求，提供台灣社群討論、中國新聞及中國社群討論等其他頻道。</p>

				<h5>藍星球新聞分析模組</h5>
				<p>包含資料檢索、帳號權限管理、追蹤示警、個人化訂閱收藏、智慧分析、分派管考、設定控制台等彈性功能。 如有視覺設計需求，亦可提供客製化前端介面。</p>
			</div>
		</div>
			<div class="clear"></div>


		<div class="solution_case_a" id="go_03">
			<div class="photo_slide">
				<img src="img/s-01.png" alt="">
			</div>
			<div class="description">
				<h4>開放資料解決方案</h4>
				<p>以藍星球資料正規化技術為基礎，能全自動的將不同單位來源、不同檔案格式、不同填寫方式的資料做正規化一致化處理。</p>

				<h5>資料正規化模組</h5>
				<p>時間正規化：將不同時間填寫格式統一化、一致化的處理，正規化後的時間將統一以YYYY-MM-DD 儲存，以利統計與排序。
				空間正規化：將地標或地址自動的轉換成精準的地理座標系統，同時提供相同地名的地標消歧義功能。</p>

				<h5>藍星球開放資料發佈平台</h5>
				<p>提供開放資料標準三星以上之安全、快速、高效能、資料快取、符合 RESTFul API 風格的開放資料發佈平台。</p>
			</div>
			<div class="clear"></div>
		</div>

	</div>




</div>








{% endblock %}